

  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="name">
        Name
      </label>
      <input type="text" id="name" formControlName="name">
    </div>

    <div>
      <label for="user1">
        User1
      </label>
      <input type="text" id="user1" formControlName="user1">
    </div>

    <div>
      <label for="user2">
        User2
      </label>
      <input type="text" id="user2" formControlName="user2">
    </div>

    <div>
      <label for="user3">
        User3
      </label>
      <input type="text" id="user3" formControlName="user3">
    </div>

    <div>
      <label for="user4">
        User4
      </label>
      <input type="text" id="user4" formControlName="user4">
    </div>

    <div>
      <label for="description">
        Description
      </label>
      <input type="text" id="description" formControlName="description">
    </div>


    <button class="button" type="submit">Add group</button>
  </form>


