<h2>Corridor overview</h2>

<table>
  <th>Type</th>
  <th>Id</th>
  <th>Display name</th>
  <th>Status severity</th>
  <th>Status severity description</th>
  <th>Bounds</th>
  <th>Envelope</th>
  <th>Url</th>

  <tr *ngFor="let corridor of corridors">
    <td>{{corridor.$type}} </td>
    <td>{{corridor.id}} </td>
    <td>{{corridor.displayName}} </td>
    <td>{{corridor.statusServerity}} </td>
    <td>{{corridor.statusSeverityDescription}} </td>
    <td>{{corridor.bounds}} </td>
    <td>{{corridor.envelope}} </td>
    <td>{{corridor.url}} </td>
  </tr>
</table>
